div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj345 {
position: absolute;
overflow: hidden;
top: 0px;
left: -2px;
width: 773px;
height: 1023px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj345_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 773px;
	height: 1023px;
}
div#obj58 {
position: absolute;
overflow: hidden;
top: 74px;
left: 82px;
width: 297px;
height: 320px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
border-color: #000000;
border-width: 3px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
}
img#obj58_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 297px;
	height: 320px;
}
div#obj275 {
position: absolute;
overflow: hidden;
top: 116px;
left: 144px;
width: 162px;
height: 146px;
opacity: 0.45;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj275_img {
	position: absolute;
	left: 8px;
	top: 0px;
	width: 146px;
	height: 146px;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}
div#obj490 {
position: absolute;
overflow: hidden;
top: 427px;
left: 379px;
width: 312px;
height: 311px;
opacity: 1;
z-index: 6;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
border-color: #000000;
border-width: 3px;
border-style: solid;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
}
img#obj490_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 312px;
	height: 311px;
}

div#obj404 {
position: absolute;
overflow: hidden;
top: 962px;
left: 707px;
width: 35px;
height: 42px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Quicksand-500";
font-size: 24px;
text-align: center;
}
div#obj404_content {
}
div#obj481 {
position: absolute;
overflow: hidden;
top: 74px;
left: 415px;
width: 282px;
height: 293px;
opacity: 1;
z-index: 4;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Quicksand-500";
font-size: 24px;
}
div#obj481_content {
}
div#obj488 {
position: absolute;
overflow: hidden;
top: 427px;
left: 82px;
width: 268px;
height: 466px;
opacity: 1;
z-index: 5;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Quicksand-500";
font-size: 24px;
}
div#obj488_content {
}
div#obj493 {
position: absolute;
overflow: hidden;
top: 764px;
left: 379px;
width: 312px;
height: 204px;
opacity: 1;
z-index: 7;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-family: "Quicksand-500";
font-size: 24px;
}
div#obj493_content {
}





audio#obj497 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 79px;
height: 84px;
opacity: 1;
z-index: 8;
display:block;
pointer-events: auto;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}










body {
font-family: "Quicksand-500";
font-size: 24px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
