div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj364 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 768px;
height: 1028px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
mix-blend-mode: darken;
background-color: #2F74D0;
}
img#obj364_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 768px;
	height: 1028px;
}
div#obj442 {
position: absolute;
overflow: hidden;
top: 202px;
left: 3px;
width: 760px;
height: 893px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj442_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 760px;
	height: 893px;
}
div#obj368 {
position: absolute;
overflow: hidden;
top: 107px;
left: 14px;
width: 741px;
height: 192px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
filter: drop-shadow(2px 2px 2px rgba(169,203,248,0));
will-change: filter;
-webkit-filter: drop-shadow(2px 2px 2px rgba(169,203,248,0));
}
img#obj368_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 741px;
	height: 192px;
}


















body {
font-family: "Quicksand-500";
font-size: 24px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
